{% extends 'base.html'%}

{% block content %}


<body>
<br>
<br>
<br>

<h1> My display test {{message}}</h1>
<ul>

            {% for source in sources %}
                <!--{{source.id}}-->
                 <a href="/articles/{{source.id}}">{{source.id}}</a>

                    <br>
                {{source.description}}
    <br>
             <!--<a href="/articles/{{source.id}}">{{source.id}}</a>-->
                    <br>

            {% endfor %}
        </ul>
{% endblock%}
</body>




 <!--{% import 'macros.html' as macro%}-->


<!--<h1> My display test {{message}}</h1>-->




<!--<body>-->
        <!--&lt;!&ndash; Popular movie &ndash;&gt;-->
        <!--<h3> My display test {{message}}</h3>-->
        <!--<ul>-->
            <!--{{ macro.displaySourceList()}}-->
        <!--</ul>-->
    <!--</body>-->

